.cashier-button {
	position:relative;
	float:left;
	left:50px;
	color: #273072;
    height:27px;
    margin:2px;
    border: 1px solid #353A7E;
    font-size:14px;
    background: #7f82ac;
    background: -webkit-gradient(linear, left top, left bottom, from(#b2b3d7), to(#7f82ac));
    background: -moz-linear-gradient(#b2b3d7, #7f82ac);
    background:  -ms-linear-gradient(#b2b3d7, #7f82ac);
    background:      linear-gradient(#b2b3d7, #7f82ac);
    width: 120px;
    margin-left:4px;
    margin-right:4px;
}

#userlist-select{
	position:relative;
	float:left;
	left:50px;
	padding-left:8px;
	color: #273072;
    margin: 3px;
    width: 120px;
    height: 27px;
    border: 1px solid #353A7E;
    font-size:14px;
    background: #7f82ac;
    background: -webkit-gradient(linear, left top, left bottom, from(#b2b3d7), to(#7f82ac));
    background: -moz-linear-gradient(#b2b3d7, #7f82ac);
    background:  -ms-linear-gradient(#b2b3d7, #7f82ac);
    background:      linear-gradient(#b2b3d7, #7f82ac);
    margin-left:4px;
    margin-right:4px;
    appearance:button;
	-moz-appearance:button; /* Firefox */
	-webkit-appearance:button; /* Safari and Chrome */
}

#stockmin-select{
	position:relative;
	float:left;
	left:5px;
	color: #273072;
	padding-left:8px;
    margin: 2px;
    width: 120px;
    height: 27px;
    border: 1px solid #353A7E;
    font-size:14px;
    background: #7f82ac;
    background: -webkit-gradient(linear, left top, left bottom, from(#b2b3d7), to(#7f82ac));
    background: -moz-linear-gradient(#b2b3d7, #7f82ac);
    background:  -ms-linear-gradient(#b2b3d7, #7f82ac);
    background:      linear-gradient(#b2b3d7, #7f82ac);
    margin-left:4px;
    margin-right:4px;
    appearance:button;
	-moz-appearance:button; /* Firefox */
	-webkit-appearance:button; /* Safari and Chrome */
}

.username-spam{
	position:relative;
	float:left;
	left:70px;
	top:10px;
	font-size:14px;
	width: 100px;
}

#paypad button {
    height: 50px;
    width: 190px;
    margin: 0px -6px 4px -2px;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    border-top: 1px solid #efefef;
    font-size: 14px;
}


#numpad .mode-button {
    height: 50px;
    width: 70px;
    margin: 0px 0px 4px 0px;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    border-top: 1px solid #efefef;
}

#numpad #numpad-backspace {
    width: 70px !important;
}

.product .product-stock {
    position: absolute;
    top: 2px;
    left: 2px;
    vertical-align: top;
    line-height: 13px;
    padding: 2px 5px;
    border-radius: 3px;
    box-shadow: 0px 1px 0px #9A9CC5, 0px 3px 0px #7E86AC, 0px 3px 3px rgba(12, 14, 68, 0.67);
}
.product .product-stock0 {
    color: white;
    background: #FF0000;
}
.product .product-stock1 {
    color: blue;
    background: #FFFF00;
}
.product .product-stock2 {
    color: blue;
    background: #40FF00;
}

.pos-sale-ticket {
    text-align: left;
    width: 65mm;
    background-color: white;
    margin: 20px;
    padding: 15px;
    padding-bottom:30px;
    display: inline-block;
    font-family: "Inconsolata";
    border-radius: 2px;
    box-shadow: 0px 1px 0px white, 0px 3px 0px #C1B9D6, 0px 8px 16px rgba(0, 0, 0, 0.3);
}


@media print {
    .oe_leftbar,
    .pos .pos-topheader, 
    .pos .pos-leftpane, 
    .pos .keyboard_frame {
        display: none !important;
    }
    .pos,
    .pos .pos-content,
    .pos .rightpane,
    .pos .screen, 
    .pos .window, 
    .pos .window .subwindow, 
    .pos .subwindow .subwindow-container{
        display: block;
        position: static;
        height: auto;
    }
    .pos{
        background: white !important;
    }
    .pos .rightpane {
        left: 0px !important;
        background-color: white;
    }
    .pos .receipt-screen header {
        display: none !important;
    }
    .pos .receipt-screen {
        text-align: left;
    }
    .pos-actionbar {
        display: none !important;
    }
    .debug-widget{
        display: none !important;
    }
    .pos *{
        text-shadow: none !important;
        box-shadow: none !important;
        background: transparent !important;
    }
    .pos .pos-sale-ticket{
        margin: 0;
        border: none !important;
        font-size: 13px !important;
        width: 266px !important;
    }
}

