 .oe_product .oe_product_cart section>h5{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.oe_product .oe_subdescription{
	display: none;
}

.oe_product .oe_subdescription.oe_shadow{
	display: none;
}

.img-responsive{
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
}

@media (min-width: 1200px) {
	.oe_image_full.oe-height-4 .img-responsive{
	  height: 85%;
	}
		
	.oe_image_full.oe-height-2 .img-responsive{
	  height: 70%;
	}

	.oe_image_full.oe-height-8 .img-responsive {
	  height: 92.5%;
	}

	.oe_image_full.oe-height-6 .img-responsive {
	  height: 90%;
	}
}

@media (max-width: 1200px) and (min-width:768px)  {

	.oe_image_full.oe-height-4 .img-responsive{
	  height: 80%;
	}
		
	.oe_image_full.oe-height-2 .img-responsive{
	  height: 60%;
	}

	.oe_image_full.oe-height-8 .img-responsive {
	  height: 90%;
	}

	.oe_image_full.oe-height-6 .img-responsive {
	  height: 87%;
	}
}

@media (max-width:768px) and (min-width:400px) {
  .img-responsive {
	  height: 81%;
	}

	.oe_image_full .img-responsive {
	  height: 81%;
	}
}

@media (max-width:400px){
  .img-responsive {
	  height: 79%;
	}
	.oe_image_full .img-responsive {
	  height: 79%;
	}
}