.openerp .oe_form_editable .oe_form .oe_form_field_date input{
  width: 107px;
}
.openerp .oe_form .oe_form_field_selection select{
  max-width: 240px;
}
/* .openerp .oe_form .oe_form_field div{ */
/* 	max-width: 240px; */
/* } */

.openerp .oe_form_sheet_width {
  max-width: 2000px;
}

/* .openerp .oe_searchview { */
/*   float: left; */
/* } */
@media screen and (min-width: 860px){
	.openerp .oe_searchview {
	   position: absolute;
	   right: 20px;
	}
	
	.openerp .oe_view_manager_switch{
		position:absolute;
		right: 20px;
	}
	
	.openerp .oe_view_manager_pager{
		position:absolute;
		right: 120px;
	}	
}